* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: url(https://picsum.photos/1600/900?random=1);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 420px;
    background: linear-gradient(to right, rgb(128, 128, 128), rgba(87, 87, 87, 0)) ;
    border: 2px solid #515151;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    flex-direction: column;
}

h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-container input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    border: none;
    border: 2px solid rgb(173, 173, 173);
    border-radius: 10px;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.input-container input::placeholder{
    color: white;
}

.input-container img {
    position: absolute;
    right: 24px;
    top: 20%;
    margin-top: 5px;
}

.esqueci a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.esqueci a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 50px;
    background: #8547e7;
    font-size: 20px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 24px;
    outline: none;
    transition: ease-in 0.3s;
}

button:hover {
    background: #a077da;
}

.register {
    text-align: center;
    margin-top: 12px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}